<h3 class="title"><%= @user.email %></h3>

<% if user_signed_in? && current_user != @user %>
  <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
    <%= link_to 'unfollow', [@user, :follow], method: :delete %>
  <% else %>
    <%= link_to 'follow', [@user, :follow], method: :post %>
  <% end %>
<% end %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to 'followings', [@user, :followings] %>
    </li>
    <li>
      <%= link_to 'followers', [@user, :followers] %>
    </li>
    <li>
      <%= link_to 'likes', [@user, :likes] %>
    </li>
  </ul>
</div>


<% @user.photos.each do |photo| %>
  <div class="card mb-4">
    <div class="card-image">
      <figure class="image">
        <%= link_to [photo] do %>
          <%= image_tag photo.image %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div>
        <%= link_to photo.user.email, [photo.user] %>
      </div>
      <div>
        <%= photo.caption %>
      </div>
    </div>
  </div>
<% end %>
