<h3>home</h3>

<div>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
</div>

<div>
  <%= link_to '写真投稿', [:new, :photo] %>
</div>

<% User.all.each do |user| %>
  <div>
    <%= link_to user.email, [user] %>
  </div>
<% end %>

<hr>

<% @feeds.each do |photo| %>
  <div>
    <div>
      <%= link_to photo.user.email, [photo.user] %>
    </div>
    <div>
      <%= image_tag photo.image %>
    </div>
    <div>
      <%= photo.caption %>
    </div>
  </div>
<% end %>
